@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
html body {
  overflow-x: hidden; }
  html body #content {
    font-family: "Open Sans", sans-serif; }
    html body #content #menu {
      overflow: hidden;
      display: none; }
      html body #content #menu .name {
        width: 100%;
        color: white;
        font-weight: 200;
        line-height: 2.1em;
        padding: 15px;
        margin-top: 4vw;
        padding-top: 15vh; }
        @media (max-width: 1279px) {
          html body #content #menu .name {
            line-height: 1.5em; } }
        @media (max-width: 959px) {
          html body #content #menu .name {
            line-height: 1.3em; } }
        html body #content #menu .name .first {
          font-size: 2em; }
          @media (max-width: 959px) {
            html body #content #menu .name .first {
              font-size: 1.5em; } }
        html body #content #menu .name .last {
          font-size: 2.5em; }
          @media (max-width: 1919px) {
            html body #content #menu .name .last {
              font-size: 2em; } }
          @media (max-width: 1279px) {
            html body #content #menu .name .last {
              font-size: 1.5em; } }
          @media (max-width: 959px) {
            html body #content #menu .name .last {
              font-size: 2.0em; } }
        html body #content #menu .name .caption {
          font-size: .8em;
          padding-left: 10px; }
          @media (max-width: 959px) {
            html body #content #menu .name .caption {
              padding-top: 10px;
              font-size: .8em; } }
      html body #content #menu .links {
        width: 100%;
        height: 500px;
        color: white; }
        html body #content #menu .links .link {
          text-align: center;
          font-size: 1.0em;
          font-weight: 200;
          width: 100%;
          height: 40px;
          line-height: 40px;
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
          html body #content #menu .links .link i {
            position: absolute;
            left: 0;
            line-height: 40px;
            margin-left: 4vw; }
            @media (max-width: 1919px) {
              html body #content #menu .links .link i {
                margin-left: 2vw; } }
            @media (max-width: 959px) {
              html body #content #menu .links .link i {
                margin-left: 4vw; } }
          html body #content #menu .links .link:hover {
            background-color: #33F8FF;
            cursor: pointer;
            color: black; }
      @media (max-width: 599px) {
        html body #content #menu {
          display: block; } }
    html body #content .sidebar {
      overflow: hidden;
      position: fixed;
      left: 0;
      top: 0;
      width: 15vw;
      height: 100vh;
      z-index: 10;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      html body #content .sidebar:hover {
        background-color: #2E2E2E;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
      html body #content .sidebar .name {
        width: 100%;
        color: white;
        font-weight: 200;
        line-height: 2.1em;
        padding: 15px;
        padding-top: 7vh; }
        @media (max-width: 1279px) {
          html body #content .sidebar .name {
            line-height: 1.5em; } }
        @media (max-width: 959px) {
          html body #content .sidebar .name {
            line-height: 1.3em; } }
        html body #content .sidebar .name .first {
          font-size: 2em; }
          @media (max-width: 1919px) {
            html body #content .sidebar .name .first {
              font-size: 1.5em; } }
          @media (max-width: 1279px) {
            html body #content .sidebar .name .first {
              font-size: 1em; } }
          @media (max-width: 959px) {
            html body #content .sidebar .name .first {
              font-size: 1em; } }
        html body #content .sidebar .name .last {
          font-size: 2.5em; }
          @media (max-width: 1919px) {
            html body #content .sidebar .name .last {
              font-size: 2em; } }
          @media (max-width: 1279px) {
            html body #content .sidebar .name .last {
              font-size: 1.5em; } }
          @media (max-width: 959px) {
            html body #content .sidebar .name .last {
              font-size: 1.0em; } }
        html body #content .sidebar .name .caption {
          font-size: .8em;
          padding-left: 10px; }
          @media (max-width: 959px) {
            html body #content .sidebar .name .caption {
              font-size: .5em; } }
      html body #content .sidebar .links {
        width: 100%;
        height: 500px;
        color: white; }
        html body #content .sidebar .links .link {
          text-align: center;
          font-size: 1.0em;
          font-weight: 200;
          width: 100%;
          height: 40px;
          line-height: 40px;
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
          html body #content .sidebar .links .link i {
            position: absolute;
            left: 0;
            line-height: 40px;
            margin-left: 4vw; }
            @media (max-width: 1919px) {
              html body #content .sidebar .links .link i {
                margin-left: 2vw; } }
            @media (max-width: 959px) {
              html body #content .sidebar .links .link i {
                display: none; } }
          html body #content .sidebar .links .link:hover {
            background-color: #33F8FF;
            cursor: pointer;
            color: black; }
      @media (max-width: 599px) {
        html body #content .sidebar {
          margin-left: -15vw; } }
    html body #content #panel {
      margin-left: 15vw; }
      @media (max-width: 599px) {
        html body #content #panel {
          margin-left: 0px; } }
      html body #content #panel header {
        position: relative;
        display: none;
        padding-left: 2vw;
        padding-top: 2vw;
        padding-bottom: 2vw; }
        @media (max-width: 599px) {
          html body #content #panel header {
            display: flex; } }
        html body #content #panel header i {
          color: #33F8FF;
          font-size: 38px;
          display: none;
          -webkit-touch-callout: none;
          /* iOS Safari */
          -webkit-user-select: none;
          /* Safari */
          -khtml-user-select: none;
          /* Konqueror HTML */
          -moz-user-select: none;
          /* Firefox */
          -ms-user-select: none;
          /* Internet Explorer/Edge */
          user-select: none;
          /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }
          @media (max-width: 599px) {
            html body #content #panel header i {
              display: inline-block; } }
        html body #content #panel header span {
          position: absolute;
          font-size: 1.8em;
          font-weight: 200;
          color: white;
          right: 4vw;
          -webkit-touch-callout: none;
          /* iOS Safari */
          -webkit-user-select: none;
          /* Safari */
          -khtml-user-select: none;
          /* Konqueror HTML */
          -moz-user-select: none;
          /* Firefox */
          -ms-user-select: none;
          /* Internet Explorer/Edge */
          user-select: none;
          /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }
      html body #content #panel #view {
        width: 100%;
        height: 100vh;
        padding-bottom: 20px; }
    html body #content .component-content {
      width: 100%;
      height: 200vh; }
      html body #content .component-content #home {
        padding-left: 4vw;
        padding-right: 4vw; }
        @media (max-width: 599px) {
          html body #content .component-content #home {
            width: 100vw;
            padding-left: 0;
            padding-right: 0; } }

.grid {
  width: 100%;
  height: 100%;
  margin-left: 10vw;
  margin: 0 auto;
  padding-top: 4vw;
  text-align: center;
  padding-left: 4vw; }
  @media (max-width: 599px) {
    .grid {
      margin-left: 0px;
      padding-top: 0; } }
  .grid .grid-item {
    display: inline-block;
    position: relative;
    margin: 5px;
    float: left;
    width: 20vw;
    height: 20vw;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    @media (max-width: 1279px) {
      .grid .grid-item {
        width: 33vw;
        height: 33vw; } }
    @media (max-width: 959px) {
      .grid .grid-item {
        width: 33vw;
        height: 33vw; } }
    @media (max-width: 599px) {
      .grid .grid-item {
        margin: 2px;
        width: 45vw;
        height: 45vw; } }
    .grid .grid-item .wrapper {
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
      background-color: yellow; }
    .grid .grid-item:hover {
      cursor: pointer;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .grid .grid-item--width2 {
    width: calc(40vw + 10px); }
    @media (max-width: 1279px) {
      .grid .grid-item--width2 {
        width: calc(66vw + 10px); } }
    @media (max-width: 959px) {
      .grid .grid-item--width2 {
        width: calc(66vw + 10px); } }
    @media (max-width: 599px) {
      .grid .grid-item--width2 {
        width: calc(90vw + 4px); } }
  .grid .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(46, 46, 46, 0.7);
    z-index: 9;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .grid .overlay:hover {
      background: rgba(46, 46, 46, 0.5); }
  .grid .tag {
    color: #33F8FF;
    font-weight: 200;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    padding: 10px; }
  .grid #grid-about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .grid #grid-about-me img {
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
      position: relative;
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: 4; }
    .grid #grid-about-me .caption {
      font-family: "Open Sans", sans-serif;
      font-size: 2.5em;
      font-weight: 200;
      color: white;
      position: absolute;
      z-index: 10;
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }
      @media (max-width: 959px) {
        .grid #grid-about-me .caption {
          font-size: 1.7em; } }
  .grid #grid-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .grid #grid-gallery img {
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
      position: relative;
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: 4; }
    .grid #grid-gallery .caption {
      font-family: "Open Sans", sans-serif;
      font-size: 2.5em;
      font-weight: 200;
      color: white;
      position: absolute;
      z-index: 10;
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }
      @media (max-width: 959px) {
        .grid #grid-gallery .caption {
          font-size: 1.7em; } }
  .grid #grid-mars-oasis {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .grid #grid-mars-oasis img {
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
      position: relative;
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: 4; }
    .grid #grid-mars-oasis .caption {
      font-family: "Open Sans", sans-serif;
      font-size: 2.5em;
      font-weight: 200;
      color: white;
      position: absolute;
      z-index: 10;
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }
      @media (max-width: 959px) {
        .grid #grid-mars-oasis .caption {
          font-size: 1.7em; } }
  .grid #grid-esports {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .grid #grid-esports img {
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
      position: relative;
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: 4; }
    .grid #grid-esports .caption {
      font-family: "Open Sans", sans-serif;
      font-size: 2.5em;
      font-weight: 200;
      color: white;
      position: absolute;
      z-index: 10;
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }
      @media (max-width: 959px) {
        .grid #grid-esports .caption {
          font-size: 1.7em; } }
  .grid #grid-vr {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .grid #grid-vr img {
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
      position: relative;
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: 4; }
    .grid #grid-vr .caption {
      font-family: "Open Sans", sans-serif;
      font-size: 2.5em;
      font-weight: 200;
      color: white;
      position: absolute;
      z-index: 10;
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }
      @media (max-width: 959px) {
        .grid #grid-vr .caption {
          font-size: 1.7em; } }
  .grid #grid-webgl {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .grid #grid-webgl img {
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
      position: relative;
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: 4; }
    .grid #grid-webgl .caption {
      font-family: "Open Sans", sans-serif;
      font-size: 2.5em;
      font-weight: 200;
      color: white;
      position: absolute;
      z-index: 10;
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }
      @media (max-width: 959px) {
        .grid #grid-webgl .caption {
          font-size: 1.7em; } }
  .grid #grid-countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .grid #grid-countdown img {
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
      position: relative;
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: 4; }
    .grid #grid-countdown .caption {
      font-family: "Open Sans", sans-serif;
      font-size: 2.5em;
      font-weight: 200;
      color: white;
      position: absolute;
      z-index: 10;
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }
      @media (max-width: 959px) {
        .grid #grid-countdown .caption {
          font-size: 1.7em; } }
  .grid #grid-matrix {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .grid #grid-matrix img {
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
      position: relative;
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: 4; }
    .grid #grid-matrix .caption {
      font-family: "Open Sans", sans-serif;
      font-size: 2.5em;
      font-weight: 200;
      color: white;
      position: absolute;
      z-index: 10;
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }
      @media (max-width: 959px) {
        .grid #grid-matrix .caption {
          font-size: 1.7em; } }

@keyframes rotateFall {
  0% {
    transform: rotateZ(0deg); }
  20% {
    transform: rotateZ(10deg);
    animation-timing-function: ease-out; }
  40% {
    transform: rotateZ(17deg); }
  60% {
    transform: rotateZ(16deg); }
  100% {
    transform: translateY(100%) rotateZ(17deg); } }

/* slide in from the bottom */
@keyframes slideOutLeft {
  to {
    transform: translateX(-100%); } }

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
  to {
    transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0; } }

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.8); } }

/* slide in from the right */
@keyframes slideInRight {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0); } }

/* slide in from the bottom */
@keyframes slideInUp {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0); } }

.ng-enter {
  animation: scaleUp 0.5s both ease-in;
  z-index: 8888; }

.ng-leave {
  animation: slideOutLeft 0.5s both ease-in;
  z-index: 9999; }

ng-view {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.detail-page {
  overflow: hidden;
  width: 100vw;
  height: 100vh; }
  .detail-page .image-wrapper {
    position: fixed;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .detail-page .image-wrapper img {
      flex-shrink: 0;
      max-width: 100%; }
  .detail-page .page {
    position: absolute;
    padding: 10px;
    width: 40vw;
    height: 100vh;
    background-color: white;
    z-index: 3;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
    .detail-page .page .header {
      width: 100%;
      color: black; }
      .detail-page .page .header .back-button {
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        padding: 5px; }
        .detail-page .page .header .back-button:hover {
          color: white;
          cursor: pointer;
          background-color: #33F8FF; }
      .detail-page .page .header i {
        padding-right: 10px; }
